/* Custom CSS styling */

/* Importing fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;800&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

/* fonts can be used using the following CSS rules */
/* 
    font-family: 'Abhaya Libre', serif;
    font-family: 'Amiri', serif;
*/

html {
    font-family: 'Roboto', serif;
}

header {
    background-color: transparent;
}

header, .navbar {
    /* background-color: white; */
    background-color: transparent;
}

footer a,.footer-copyright {
    background-color: #a6a6a6; 
}

.page-footer, .footer-copyright {
    background-color: #706f6f
}

p, footer a,.footer-copyright {
    font-family: 'Roboto', sans-serif; 
}

.errorPage {
    align-items: center;
    text-align: center;
    padding-bottom: 30%;
}

.aboutUsPage {
    align-items: center;
    text-align: center;
}

.joinUsPage {
    align-items: center;
    text-align: center;
}

.sidenav {
    background-color: #a6a6a6;
    color: black;
}

hr{
    height: 1px;
    background-color: #706f6f;
    border: none;
}

nav ul a {
    color: white;
    font-size: large;
}

nav .brand-logo {
    font-size: 2.3rem;
}


.carousel-holder {
    width: 100%;
    height: 1080px;
}

#image-carousel {
    max-height: 100vh;
}

#Carousel-1 {
    height: 100vh;
}

.carousel-image-1 {
    background-image: url("./components/images/banner.png");
    background-size: cover;
    background-position: center;
}

.carousel-link {
    text-align: center;
    display: block;
    font-size: 20em;
    opacity: 0;
}

.carousel.carousel-slider .carousel-item {
    height: 100%;
}

#main-content {
    background-color: #a6a6a6;
}

section > div > a {
    color: black;
}

.card .card-image .card-title {
    width: 100%;   
    text-align: center;
    font-size: 1.5em;
}

.card .card-reveal {
    background-color: black;
    font-size: 1em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card .card-reveal::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.card .card-reveal{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.card-content {
    font-size: 0.75em;
    /* height: 400px; */
}

.card {
    overflow-y: hidden;
    background-color: #ff4b4b;
    color: white;
    /* height: 400px; */
}

.map {
    width: 100%;
    border:none;
}

.joinUsButton {
    font-size: 2em;
    padding: 0.5em 4em 1.5em 4em;
    margin: 10px;
    
}
/* 
.button-text {
    padding: 20px;
    margin: 20px;
} */

/* media */

@media screen and (max-width: 500px) {
    .carousel-image-1 {
        background-image: url("./components/images/banner2.png");
        background-size: cover;
        background-position: center;
    }
    
    .section-heading {
        font-size: 2em;    
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .carousel-image-1 {
        background-image: url("./components/images/banner1.png");
        background-size: cover;
        background-position: center;
    }
    
}

@media screen and (min-width: 0px) {
    .card-content {
        font-size: 0.75em;
        height: 250px;
    }
    
    .card {
        overflow-y: hidden;
        background-color: #ff4b4b;
        color: white;
        height: 250px;
    }
    
}

@media screen and (min-width: 400px) {
    .card-content {
        font-size: 0.75em;
        height: 300px;
    }
    
    .card {
        overflow-y: hidden;
        background-color: #ff4b4b;
        color: white;
        height: 300px;
    }
    
}

@media screen and (min-width: 500px) {
    .card-content {
        font-size: 0.75em;
        height: 400px;
    }
    
    .card {
        overflow-y: hidden;
        background-color: #ff4b4b;
        color: white;
        height: 400px;
    }
    
}

@media screen and (min-width: 600px) {
    .card-content {
        font-size: 0.5em;
        height: 200px;
    }
    .card {
        overflow-y: hidden;
        background-color: #ff4b4b;
        color: white;
        height: 200px;
    }
    
}

@media screen and (min-width: 700px) {
    .card-content {
        font-size: 0.65em;
        height: 200px;
    }
    
    .card {
        overflow-y: hidden;
        background-color: #ff4b4b;
        color: white;
        height: 200px;
    }
    
}

@media screen and (min-width: 800px) {
    .card-content {
        font-size: 0.75em;
        height: 200px;
    }
    
    .card {
        overflow-y: hidden;
        background-color: #ff4b4b;
        color: white;
        height: 200px;
    }
    
}

@media screen and (min-width: 992px) {
    .card-content {
        font-size: 0.75em;
        height: 200px;
    }
    
    .card {
        overflow-y: hidden;
        background-color: #ff4b4b;
        color: white;
        height: 200px;
    }
    
}

@media screen and (min-width: 1200px) {
    .card-content {
        font-size: 0.75em;
        height: 250px;
    }
    
    .card {
        overflow-y: hidden;
        background-color: #ff4b4b;
        color: white;
        height: 250px;
    }
    
}

@media screen and (min-width: 1400) {
    .card-content {
        font-size: 0.75em;
        height: 300px;
    }
    
    .card {
        overflow-y: hidden;
        background-color: #ff4b4b;
        color: white;
        height: 300px;
    }
    
}